[submodule "vendor/jde"]
	path = vendor/jde
	url = git://enigmacurry.com/jde
[submodule "vendor/emacs-jabber"]
	path = vendor/emacs-jabber
	url = git://git.catap.ru/emacs-jabber.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://gitorious.org/magit/mainline.git
[submodule "vendor/muse"]
	path = vendor/muse
	url = git://repo.or.cz/muse-el.git
[submodule "vendor/anything-config"]
	path = vendor/anything-config
	url = git://repo.or.cz/anything-config.git
[submodule "vendor/gist-el"]
	path = vendor/gist-el
	url = git://github.com/defunkt/gist.el.git
[submodule "vendor/cedet"]
	path = vendor/cedet
	url = git://github.com/vjr/cedet.git
