*~
/history
/places
/recentf
/elpa/
/eln-cache/
/.org-id-locations
/custom.el
/straight/
/export/
/.git
.gitignore
/export/hello.txt
/transient/
\#*
/.dap-breakpoints
/.lsp-session*
tree-sitter/
/tramp
/.cache/
session.*
/bookmarks
